In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/Python & DS/NLP Project/Combined_Jobs_Final.csv')
df1.head()

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Industry,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,111,1,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,...,Food and Beverages,Tacolicious' first Palo Alto store just opened...,NaN,8.00,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,113,1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,...,Food and Beverages,\r\n\r\nNew French Brasserie in S.F. Financia...,NaN,0.00,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,117,1,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,...,Food and Beverages,We are a popular Mediterranean wine bar and re...,NaN,11.00,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC
3,121,1,open,brisbane-ca-teriyaki-house-server,Server @ Teriyaki House,Server,Teriyaki House,Brisbane,California,CA,...,Food and Beverages,● Serve food/drinks to customers in a profess...,NaN,10.55,NaN,NaN,Part-Time,NaN,2013-09-04 15:40:30 UTC,2014-08-16 15:35:38 UTC
4,127,1,open,los-angeles-ca-rosa-mexicano-sunset-kitchen-st...,Kitchen Staff/Chef @ Rosa Mexicano - Sunset,Kitchen Staff/Chef,Rosa Mexicano - Sunset,Los Angeles,California,CA,...,Food and Beverages,"Located at the heart of Hollywood, we are one ...",NaN,10.55,NaN,NaN,Part-Time,NaN,2013-07-17 15:26:18 UTC,2014-08-16 15:35:40 UTC

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84090 entries, 0 to 84089
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job.ID              84090 non-null  int64
 1   Provider            84090 non-null  int64
 2   Status              84090 non-null  object
 3   Slug                84090 non-null  object
 4   Title               84090 non-null  object
 5   Position            84090 non-null  object
 6   Company             81819 non-null  object
 7   City                83955 non-null  object
 8   State.Name          83919 non-null  object
 9   State.Code          83919 non-null  object
 10  Address             36 non-null     object
 11  Latitude            84090 non-null  float64
 12  Longitude           84090 non-null  float64
 13  Industry            267 non-null    object
 14  Job.Description     84034 non-null  object
 15  Requirements        0 non-null      float64
 16  Salary              229 non-null    float64
 17  Listing.Start       83407 non-null  object
 18  Listing.End         83923 non-null  object
 19  Employment.Type     84080 non-null  object
 20  Education.Required  83823 non-null  object
 21  Created.At          84090 non-null  object
 22  Updated.At          84090 non-null  object
dtypes: float64(4), int64(2), object(17)
memory usage: 14.8+ MB

In [ ]:
df1.isna().mean()*100

Job.ID                  0.000000
Provider                0.000000
Status                  0.000000
Slug                    0.000000
Title                   0.000000
Position                0.000000
Company                 2.700678
City                    0.160542
State.Name              0.203354
State.Code              0.203354
Address                99.957189
Latitude                0.000000
Longitude               0.000000
Industry               99.682483
Job.Description         0.066595
Requirements          100.000000
Salary                 99.727673
Listing.Start           0.812225
Listing.End             0.198597
Employment.Type         0.011892
Education.Required      0.317517
Created.At              0.000000
Updated.At              0.000000
dtype: float64

In [ ]:
df = df1[["Position","Job.Description"]]
df.head()

             Position                                    Job.Description
0              Server  Tacolicious' first Palo Alto store just opened...
1  Kitchen Staff/Chef   \r\n\r\nNew French Brasserie in S.F. Financia...
2           Bartender  We are a popular Mediterranean wine bar and re...
3              Server   ● Serve food/drinks to customers in a profess...
4  Kitchen Staff/Chef  Located at the heart of Hollywood, we are one ...

In [ ]:
import nltk
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords
import re

In [ ]:
def cleaning(txt):
    cleaned_txt = re.sub(r'[^a-zA-Z0-9\s]', '', txt)
    tokens = nltk.word_tokenize(cleaned_txt.lower())
    stopwords_remove = [word for word in tokens if word not in stopwords.words("english")]
    return " ".join(stopwords_remove)

In [ ]:
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

True

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
cleaning("This is my book with 0987  3 pages and  digit moving driven \n]\r\t $@$%")

'book 0987 3 pages digit moving driven'

In [ ]:
df["Position"] = df["Position"].apply(lambda x:cleaning(x))

In [ ]:
df["Position"].head()

0               server
1    kitchen staffchef
2            bartender
3               server
4    kitchen staffchef
Name: Position, dtype: object

In [ ]:
df["Job.Description"] = df["Job.Description"].astype(str).apply(lambda x:cleaning(x))

In [ ]:
df["Job.Description"]

0        tacolicious first palo alto store opened recen...
1        new french brasserie sf financial district see...
2        popular mediterranean wine bar restaurant fina...
3        serve fooddrinks customers professional manner...
4        located heart hollywood one popular mexican pl...
                               ...
84085    njahs stands national japanese american histor...
84086    weekend brunch line cook shifts may available ...
84087    onigilly japanese rice ball wraps seeks outgoi...
84088    popular mediterranean restaurant financial dis...
84089       looking cashier take order manage transactions
Name: Job.Description, Length: 84090, dtype: object

In [ ]:
df["New_Col"] = df["Position"] + " " + df["Job.Description"]

In [ ]:
df['New_Col'].head()

0    server tacolicious first palo alto store opene...
1    kitchen staffchef new french brasserie sf fina...
2    bartender popular mediterranean wine bar resta...
3    server serve fooddrinks customers professional...
4    kitchen staffchef located heart hollywood one ...
Name: New_Col, dtype: object

In [ ]:
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2')
job_embeddings = model.encode(df['New_Col']).tolist()

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

def get_recommendations(query, embeddings, df, top_n=5):
    query_embedding = model.encode([query])
    similarities = cosine_similarity(query_embedding, embeddings)
    top_indices = similarities[0].argsort()[-top_n:][::-1]
    return df.iloc[top_indices]

In [26]:
query = "Jobs related to machines"
recommendations = get_recommendations(query, job_embeddings, df)
print(recommendations['New_Col'])

81899    machine operator 2nd shift seeking selfmotivat...
79610    machine operator looking hard working self mot...
59529    word processor ref id 01240107722classificatio...
35907    machine operator monroe staffing services curr...
35906    machine operator monroe staffing services curr...
Name: New_Col, dtype: object